.vs/
bin/
obj/
*.user
launchSettings.json
.vscode/
*/**/Properties/PublishProfiles
node_modules/
*/**/Blazor.Polyfill.Build/tools/net6.0
*/**/Blazor.Polyfill.Build/tools/net5.0
*/**/Blazor.Polyfill.Build/tools/netcoreapp3.1
artifacts/
*/**/es5cache/_framework/blazor.server.js